.banner {
    position: relative;
    color: white;
    height: 600px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner_contents {
    position: relative;
    z-index: 2; /* Ensure content is above the overlay */
    max-width: 500px; /* Limit the width of content */
}

.baner_title {
    font-size: 3rem; /* Adjust size as needed */
    font-weight: bold;
    margin-bottom: 20px;
}

.banner_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between buttons */
}

.banner_button,
.banner_button-paly {
    /* background-color: transparent; */
     /* Transparent background */
    border: 2px solid white; /* White border */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for visual appeal */
    font-size: 16px; /* Font size */
    flex: 1; /* Equal size */
    text-align: center; /* Center text */
    /* background-color: white;
    color: black; */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.banner_button:hover,
.banner_button-paly:hover {
    background-color: red; /* Change background on hover */
    color: black; /* Change text color on hover */
    cursor: pointer; /* Pointer cursor on hover */
}

.banner_description {
    font-size: 1.2rem;
    line-height: 1.4;
    max-width: 400px; /* Limit the description width */
}